body {
  background: #aaa;
}

#step--one--process-chart {
}

#step--two--process--chart {
  margin-left: 1em;
}

#step--three--process-chart {
}

.NewGrid > div {
  height: 60px;
  box-sizing: border-box;
  border: 5px solid #fff;
  margin-bottom: 1em;
}

.NewGrid {
  overflow: hidden;
  margin: 20px;
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.NewGrid--Rail--Item {
  height: 50px;
  box-sizing: border-box;
  border: 2px solid purple;
  /* margin-bottom: 1em; */
}

/* Grid */
/* Remember that this CSS is contingent on invalid HTML. If you want to make it valid, use the prefix data. */
/* General */
.Grid > div {
  background: blue;
  height: 60px;
  box-sizing: border-box;
  border: 5px solid #fff;
  margin-bottom: 1em;
}
.Grid {
  overflow: hidden;
  margin: 20px;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}
/* Width Direct */

/* Dinamic */
.Grid > *[screen='50'] {
  flex-basis: 50%;
  max-width: 50%;
}
.Grid > *[screen='60'] {
  flex-basis: 60%;
  max-width: 60%;
}
/* Desk */
@media (max-width: 1200px) {
  .Grid > *[desk='60'] {
    flex-basis: 60%;
    max-width: 60%;
  }
  .Grid > *[desk='65'] {
    flex-basis: 65%;
    max-width: 65%;
  }
}
/* Book */
@media (max-width: 1000px) {
  .Grid *[book='70'] {
    flex-basis: 70%;
    max-width: 70%;
  }
}
/* Tablet */
@media (max-width: 800px) {
  .Grid *[tablet='80'] {
    flex-basis: 80%;
    max-width: 80%;
  }
  .NewGrid *[tablet='80'] {
    flex-basis: 80%;
    max-width: 80%;
  }
}
/* Phone */
@media (max-width: 480px) {
  #step--two--process--chart {
    margin-left: 0em;
  }

  .Grid *[phone='100'] {
    flex-basis: 100%;
    max-width: 100%;
  }
}
